@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --main-bg-color: #404040;
    --accent-color: #000000;
    --main-text-color: #FFFFFF;
    --font-stack: 'Roboto Condensed', sans-serif;
    --bar-height: 32px;
    --bar-v-padding: 4px;
    --bar-h-padding: 14px;
    --small-row-height: 64px;
    --blur-amount: 4px;
    --blur-speed: 200ms;
}

.hidden {
    display: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--font-stack);

    padding: 0;
    margin: 0;
    height: 100%;
}

nav {
    background-color: var(--accent-color);
    margin: 0;
    height: var(--bar-height);
    padding: var(--bar-v-padding) var(--bar-h-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
}


main {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: calc(100vh - var(--bar-height) - 2 * var(--bar-v-padding));
}

.small-row {
    flex-basis: var(--small-row-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    display: block;
    background-color: var(--accent-color);
    color: var(--main-text-color);
    border: none;

    max-width: 300px;
    min-width: 100px;
    width: 75%;

    font-size: 18px;
    font-family: var(--font-stack);
    padding: 2px var(--bar-v-padding);
}

select:focus {
    border-radius: 0;
}

.fill-row {
    flex: 1;
}

.mapboxgl-popup-content {
    background-color: var(--main-bg-color) !important;
    padding: 2px !important;
    border-style: solid;
    border-radius: 0 !important;
    border-width: 1px !important;
    border-color: var(--accent-color) !important;
}

.mapboxgl-popup-tip {
    display: none;
}

.time-controls-container {
    max-width: 300px;
    min-width: 100px;
    width: 75%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-controls-container > button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--accent-color);
    color: var(--main-text-color);
}

#time-step-selector {
    flex: 1;
    height: 3px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--accent-color);
    border-radius: 1px;
}

#time-step-selector::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 15px;
    background-color: #f00;
    border-radius: 3px;
}

#time-step-selector:focus {
    outline-width: 0;
}

@keyframes slow-blur {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(var(--blur-amount));
    }
}

@keyframes slow-deblur {
    from {
        filter: blur(var(--blur-amount));
    }
    to {
        filter: blur(0px);
    }
}

.blur {
    filter: blur(var(--blur-amount));
    animation-name: slow-blur;
    animation-duration: var(--blur-speed);
}

.deblur {
    filter: blur(0px);
    animation-name: slow-deblur;
    animation-duration: var(--blur-speed);
}