{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'/>

    <script>
        mapboxgl.accessToken = {{ config.MAPBOX_ACCESS_TOKEN |tojson }};
        const DEFAULT_CENTER_LONG = {{ config.DEFAULT_CENTER_LONG |tojson }};
        const DEFAULT_CENTER_LAT = {{ config.DEFAULT_CENTER_LAT |tojson }};
        const INITAL_FEATURES = {{ features |tojson }}
    </script>

    <script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
{% block body %}
    <form id="campus-form" class="small-row" method="GET" action=".">
        <label class="hidden" for="campus-select">Campus</label>
        <select name="campus" id="campus-select">
            {% for campus in campuses %}
                <option value="{{ campus.id }}"
                        {% if campus.id == current_campus.id %}selected{% endif %}
                >{{ campus.name }}</option>
            {% endfor %}
        </select>
    </form>
    <div id="map" class="fill-row"></div>
    <div class="small-row">Time scroll goes here</div>
{% endblock %}